# aria2 RPC daemon configuration
# Used by: aria-start alias

# RPC settings
enable-rpc=true
rpc-listen-port=6800
# aria is completely local not exposed,
# this isn't a vulnerability or leaking secrets to git
rpc-secret=7b5677bd0bf39eb71b625358867fee99
# Download directory
dir={{ .chezmoi.homeDir }}/Downloads

# Other useful defaults
continue=true
max-concurrent-downloads=5
max-connection-per-server=16
split=16
min-split-size=1M
