{{ if eq .chezmoi.hostname "Spencers-MacBook-Pro-2" -}}
**/.claude/
**/.claudemem/
**/.claude-context/
**/.serena/
**/.cursor/
**/.cursorignore
**/.mcp.json
**/agent-os/
**/CLAUDE.md
**/.private-journal/
**/AGENTS.md
**/skills-lock.json
**/.superpowers/
{{ end -}}
